<ion-content [scrollEvents]="true">
  <div class="fucsia-claro" style="height: 90vh;">

    <ion-header>
      <ion-toolbar class="container-general">
        <ion-buttons class="icon-menu-movil white-text" slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-grid class="menu-pc">
          <ion-row>
            <ion-col size="4">
              <a routerLink="/home"><img src="/assets/img/logo.svg" class="logo" alt="Angelica Montes"/></a>
            </ion-col>
            <ion-col size="8">
              <h2 class="text-right">
                <a routerLink="/sobre-mi" class="white-text">Sobre mi</a>
                <a routerLink="/blog" class="white-text">Blog</a>
                <a routerLink="/galeria" class="white-text">Galeria</a>
                <a routerLink="/contacto" class="white-text"><u>Contacto</u></a>
              </h2>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-title class="text-center">
          <a routerLink="/home"><img src="/assets/img/logo.svg" class="logo-movil" alt="Angelica Montes"/></a>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-grid class="container-general" style="max-width:600px;">
      <ion-row>
        <ion-col class="white-text text-center">
          <h2>Contacto</h2>
          <h5 class="text-justify white-text">
            Si quieres contactarte conmigo es muy fácil, estoy en todas las redes sociales ;)
            <br><br>
            Instagram, Facebook y Twitter. Pero incluso puedes enviarme un correo, te lo dejare
            en la parte de abajo, si estás interesado en que nos pongamos en contacto
            ¡Escríbeme! Procuraré responderte en el menor tiempo posible para que charlemos.
          </h5>

          <br>
          <a href="https://www.facebook.com/AngyPuff/?eid=ARBVicYBat7fNXOdipTuMsXYyzeWEySChGQ7mcz7CgcIoQlXL5qC0LOCS2vN6grPUjkPiCqUdIeN5LDX" target="_blank"><img src="/assets/img/icon-facebook.svg" width="50px" alt="Icon Facebook"></a>
          &nbsp;
          <a href="https://www.instagram.com/ellaesangelica/" target="_blank"><img src="/assets/img/icon-instagram.svg" width="50px" alt="Icon Instagram"></a>
          <h4>Email: <a href="mailto:ellaesangelica@gmail.com" class="white-text">ellaesangelica@gmail.com</a></h4>
        </ion-col>
      </ion-row>
    </ion-grid>
    <br><br>
  </div>
  
  <div class="fucsia">
    <ion-grid class="container-general">
      <ion-row>
        <ion-col class="white-text text-center">
          <h5>
            © 2019 Designed by <a href="https://miguellalverez.000webhostapp.com/" target="_blank" class="white-text">Miguel Alvarez.</a> Developed by <a href="https://tagastudios.com/" target="_blank" class="white-text">Taga Studios</a>
          </h5>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>