<ion-app>
  <ion-split-pane>
    <ion-menu class="menus" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <a routerLink="/sobre-mi">
              <ion-item>
                <ion-label>
                  <b class="fucsia-text">SOBRE MI</b>
                </ion-label>
              </ion-item>
            </a>
            <a routerLink="/blog">
              <ion-item>
                <ion-label>
                  <b class="fucsia-text">BLOG</b>
                </ion-label>
              </ion-item>
            </a>
            <a routerLink="/galeria">
              <ion-item>
                <ion-label>
                  <b class="fucsia-text">GALERIA</b>
                </ion-label>
              </ion-item>
            </a>
            <a routerLink="/contacto">
              <ion-item>
                <ion-label>
                  <b class="fucsia-text">CONTACTO</b>
                </ion-label>
              </ion-item>
            </a>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
