<ion-content [scrollEvents]="false">
  <div class="rosado" style="height: 100vh;">
    <ion-header>
      <ion-toolbar class="container-general">
        <ion-buttons class="icon-menu-movil white-text" slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-grid class="menu-pc">
          <ion-row>
            <ion-col size="4">
              <a routerLink="/home"><img src="/assets/img/logo.svg" class="logo" alt="Angelica Montes"/></a>
            </ion-col>
            <ion-col size="8">
              <h2 class="text-right">
                <a routerLink="/sobre-mi" class="white-text"><u>Sobre mi</u></a>
                <a routerLink="/blog" class="white-text">Blog</a>
                <a routerLink="/galeria" class="white-text">Galeria</a>
                <a routerLink="/contacto" class="white-text">Contacto</a>
              </h2>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-title class="text-center">
          <a routerLink="/home"><img src="/assets/img/logo.svg" class="logo-movil" alt="Angelica Montes"/></a>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <br><br>
    <ion-grid class="curriculum container-general">
      <ion-row>
        <ion-col size="12" size-md class="text-center">
          <img src="/assets/img/curriculum.png" class="foto-curriculum" alt="Angelica Curriculum"/>
          <svg class="cuadro1" version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg">
            <rect width="20px" height="400%" fill="#5b003b" />
          </svg>
          <br>
          <svg class="cuadro2" version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg">
            <rect width="200px" height="200%" fill="#5b003b" />
          </svg>
          <h3 class="white-text bold">Descargar el CV completo</h3>
          <ion-button href="/assets/cv.pdf" download="angelicaCV" class="boton-descarga">Descarga</ion-button>
        </ion-col>
        <ion-col size="12" size-md>
          <h2 class="bold text-center white-text">Angelica Montes</h2>
          <br><br>
          <div class="text-center">
            <h3 class="bold text-center white-text">
              Resumen curricular
            </h3>
          </div>
          <h5 class="justify white-text"> 
            Mi nombre es Angelica, y hace 5 años decidí profesionalizarme en lo que más me gusta, escribir, producir, crear e investigar, es por ello, que hice la carrera de Comunicación Social.
          </h5>
          <!-- <iframe id="frame-curriculum" src="/assets/swiper-curriculum.html" frameborder="0"></iframe> -->
        </ion-col>
      </ion-row>
    </ion-grid>
    <br><br>
  </div>

</ion-content>